/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2018, 11:30:31 AM
    Author     : kostas
*/
table td.extra{
    table-layout: fixed;
    word-break: break-all
}
.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}
.horline{
    width: 100%;
    height: 1px;
    background-color: #A9A9A9 ;
}

.horline2{
    width: 85%;
    height: 1px;
    background-color: #A9A9A9 ;
}

@media (min-width: 1300px) {
    .container{
        max-width: 1500px;
        
    }
}
li.nav-item:hover{
    background-color: #EFEFEF;
    cursor: pointer;

}
li.nav-item:hover a{
    color:#000;
}

li.nav-item.active{
    background-color: #EFEFEF;
    
}

li.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
li.nav-item a{
    color:#f5f5f5;
}
.navbar-brand{
    margin:0;
    text-align: center;
    width:14%;
    color:#000;
}
.navbar-brand:hover{
    color:#000;
}

.navbar{
    margin:0;
    padding:0;
    background: #2e353d;
    font-size: 1em;
}

.sidebar {
    list-style-type: none;
    padding-top: 6%; 
    padding-left: 0;
    width: 14%;
    background-color: #2e353d;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px
}

.ullidist1{
    height:65%
}
.ullidist2{
    height:35%
}
.sidebar2{
    padding-left: 0;
    list-style-type: none;
}

.insidebar{
    color: #f5f5f5;
    text-align: center;
    
}

.spacecolor{
    color: #f5f5f5;
    width: 70%;
    display: block;
    color: #f5f5f5;
    padding: 2px 8px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;    
}
.spacecolor:hover:not(.active) {
    background-color: #EFEFEF;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}

.spacecolor:hover .fas:before{
    color: black;
}

.distanceblock{
    padding-right: 10px;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.cellhover:hover{
    cursor:pointer;
}

.update:focus{
    outline: none;
    -webkit-box-shadow: none;
}

.setbtn:hover{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 15px 0 rgba(0,0,0,0.2);
    background: linear-gradient(#7499CF,#7499CF);
    background-color: #7499CF !important; /* for IE */
    color: inherit;
    border-color:#5F7CA8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#msgcontainer {display: none}
