/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2018, 3:30:55 PM
    Author     : kostas
*/
.horline{
    width: 100%;
    height: 1px;
    background-color: #A9A9A9 ;
}

.horline2{
    width: 85%;
    height: 1px;
    background-color: #A9A9A9 ;
    
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}
@media (min-width: 1300px) {
    .container{
        max-width: 1500px;
        
    }
}

li.nav-item:hover{
    background-color: #EFEFEF;
    cursor: pointer;
}
li.nav-item:hover a{
    color:#000;
}

li.nav-item.active {
    background-color: #EFEFEF;
    
}
a.nav-link.active{
    color:#000;
}
li.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
li.nav-item a{
    color:#f5f5f5;
}
.navbar-brand{
    margin:0;
    text-align: center;
    width:14%;
    color:#000;
}
.navbar-brand:hover{
    color:#000;
}

.navbar{
    margin:0;
    padding:0;
    background: #2e353d;
    font-size: 1em;
}

.sidebar {
    list-style-type: none;
    padding-top: 6%;
    padding-left: 0;
    width: 14%;
    background-color: #2e353d;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px
}

.insidebar{
    color: #f5f5f5;
    text-align: center;
    
}

.spacecolor{
    color: #f5f5f5;
    width: 70%;
    display: block;
    color: #f5f5f5;
    padding: 2px 8px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;    
}
.spacecolor:hover:not(.active) {
    background-color: #EFEFEF;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}

.spacecolor:hover .fas:before{
    color: black;
}

.distanceblock{
    padding-right: 10px;
}