/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2018, 3:00:21 PM
    Author     : kostas
*/

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}
.horline{
    width: 100%;
    height: 1px;
    background-color: #A9A9A9 ;
}

.horline2{
    width: 85%;
    height: 1px;
    background-color: #A9A9A9 ;
}

@media (min-width: 1300px) {
    .container{
        max-width: 1500px;
        
    }
}
li.nav-item:hover{
    background-color: #EFEFEF;
    cursor: pointer;

}
li.nav-item:hover a{
    color:#000;
}

li.nav-item.active{
    background-color: #EFEFEF;
    
}

li.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
li.nav-item a{
    color:#f5f5f5;
}
.navbar-brand{
    margin:0;
    text-align: center;
    width:14%;
    color:#000;
}
.navbar-brand:hover{
    color:#000;
}

.navbar{
    margin:0;
    padding:0;
    background: #2e353d;
    font-size: 1em;
}

.sidebar {
    list-style-type: none;
    padding-top: 6%;
    padding-left: 0;
    width: 14%;
    background-color: #2e353d;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px
}

.ullidist1{
    height:65%
}
.ullidist2{
    height:35%
}
.sidebar2{
    padding-left: 0;
    list-style-type: none;
}

.insidebar{
    color: #f5f5f5;
    text-align: center;
    
}

.spacecolor{
    color: #f5f5f5;
    width: 70%;
    display: block;
    color: #f5f5f5;
    padding: 2px 8px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;    
}
.spacecolor:hover:not(.active) {
    background-color: #EFEFEF;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}

.spacecolor:hover .fas:before{
    color: black;
}

.distanceblock{
    padding-right: 10px;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.cellhover:hover{
    cursor:pointer;
}

.graph3 {
  margin: 0 auto;
  background-color: white;
}
.graph4 {
  margin: 0 auto;
  background-color: white;
}
.graph1 {
  margin: 0 auto;
  background-color: white;
}
.graph2 {
  margin: 0 auto;
  background-color: white;
}
.graph5 {
  margin: 0 auto;
  background-color: white;
}

.tooltip3 {
  opacity:0;
  position: absolute;
  top: 0; left: 0;
  border-radius: 10px;
  background: #2e353d;
  color: white;
  padding: 6px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  pointer-events: none;
  z-index: 9999
}
.tooltip4 {
  opacity:0;
  position: absolute;
  top: 0; left: 0;
  border-radius: 10px;
  background: #2e353d;
  color: white;
  padding: 6px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  pointer-events: none;
  z-index: 9999
}
.tooltip5 {
  opacity:0;
  position: absolute;
  top: 0; left: 0;
  border-radius: 10px;
  background: #2e353d;
  color: white;
  padding: 6px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  pointer-events: none;
  z-index: 9999
}
.tooltip1 {
  opacity:0;
  position: absolute;
  top: 0; left: 0;
  border-radius: 10px;
  background: #2e353d;
  color: white;
  padding: 6px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  pointer-events: none;
  z-index: 9999
}

.tooltip2 {
  opacity:0;
  position: absolute;
  top: 0; left: 0;
  border-radius: 10px;
  background: #2e353d;
  color: white;
  padding: 6px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  pointer-events: none;
  z-index: 9999
}
#msgcontainer1 {display: none}

#msgcontainer2 {display: none}
