/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2018, 3:01:45 PM
    Author     : kostas
*/
.overimage{
    
    position:absolute;
    z-index: 1;
    padding:10px;
    text-align: center;
    width:100%;
    padding:15px    
    
}
#imagesize{
    width:100%;
    height: inherit;
    
}
.horline{
    width: 100%;
    height: 1px;
    background-color: #A9A9A9 ;
    
}

.horline2{
    width:85%;
    height: 1px;
    background-color: #A9A9A9 ;
    
}

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.popout1:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 40px 0 rgba(0,0,0,0.2);
    background-color: #CCDECB; 
}

.popout2:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 40px 0 rgba(0,0,0,0.2);
    background-color: #DDC2ED;
}

.popout3:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 40px 0 rgba(0,0,0,0.2);
}

img{
   border-radius:12px;
}

@media (min-width: 1300px) {
    .container{
        max-width: 1500px;
        
    }
}


li.nav-item:hover{
    background-color: #EFEFEF;
    cursor: pointer;
}
li.nav-item:hover a{
    color:#000;
}

li.nav-item.active{
    background-color: #EFEFEF;
    
}

li.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
li.nav-item a{
    color:#f5f5f5;
}

.navbar-brand{
    margin:0;
    text-align: center;
    width:14%;
    color:#000;
}
.navbar-brand:hover{
    color:#000;
}

.navbar{
    margin:0;
    padding:0;
    background: #2e353d;
    font-size: 1em;
}

.sidebar {
    list-style-type: none;
    padding-top: 6%; 
    padding-left: 0;
    width: 14%;
    background-color: #2e353d;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px
}

.insidebar{
    color: #f5f5f5;
    text-align: center;
    
}

.spacecolor{
    color: #f5f5f5;
    width: 70%;
    display: block;
    color: #f5f5f5;
    padding: 2px 8px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;    
}
.spacecolor:hover:not(.active) {
    background-color: #EFEFEF;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}

.spacecolor:hover .fas:before{
    color: black;
}

.distanceblock{
    padding-right: 10px;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}