/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2022, 8:57:49 AM
    Author     : kostas
*/

.nostyle {
    color: #000000;
    text-decoration: none !important;
}

.nostyle:hover {
    color:#000000; 
    text-decoration: none !important;
    cursor:pointer;  
}

.regcon{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.horline{
    width: 90%;
    height: 1px;
    background-color: #A9A9A9 ;
    margin: auto;
    
}

.insideregcon{
    justify-content: center;
    padding-top: 40%;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 60px;
  border: 1px groove #A9A9A9;
  border-radius: 8px;
}

legend {
  padding: 5px 10px;
  width: 85%;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}

.btn{
    border-color: buttonhighlight;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}