/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2022, 8:57:49 AM
    Author     : kostas
*/

.nostyle {
    color: #000000;
    text-decoration: none !important;
}

.nostyle:hover {
    color:#000000; 
    text-decoration: none !important;
    cursor:pointer;  
}

.regcon{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.horline{
    width: 90%;
    height: 1px;
    background-color: #A9A9A9 ;
    margin: auto;
    
}

.insideregcon{
    justify-content: center;
    padding-top: 40%;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.btn{
    border-color: buttonhighlight;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}