/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2018, 11:30:50 AM
    Author     : kostas
*/

.horline{
    width: 100%;
    height: 1px;
    background-color: #A9A9A9 ;
}

.horline2{
    width: 85%;
    height: 1px;
    background-color: #A9A9A9 ;
}



@media (min-width: 1300px) {
    .container{
        max-width: 1500px;
        
    }
}

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}

li.nav-item:hover{
    background-color: #EFEFEF;
    cursor: pointer;

}
li.nav-item:hover a{
    color:#000;
}

li.nav-item.active{
    background-color: #EFEFEF;
    
}

li.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
li.nav-item a{
    color:#f5f5f5;
}
.navbar-brand{
    margin:0;
    text-align: center;
    width:14%;
    color:#000;
}
.navbar-brand:hover{
    color:#000;
}

.navbar{
    margin:0;
    padding:0;
    background: #2e353d; 
    font-size: 1em;
}

.sidebar {
    list-style-type: none;
    padding-top: 6%; 
    padding-left: 0;
    width: 14%;
    background-color: #2e353d;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    font-size: 16px
}

.ullidist1{
    height:65%
}
.ullidist2{
    height:35%
}
.sidebar2{
    padding-left: 0;
    list-style-type: none;
}

.insidebar{
    color: #f5f5f5;
    text-align: center;
    
}

.spacecolor{
    color: #f5f5f5;
    width: 70%;
    display: block;
    color: #f5f5f5;
    padding: 2px 8px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;    
}
.spacecolor:hover:not(.active) {
    background-color: #EFEFEF;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}

.spacecolor:hover .fas:before{
    color: black;
}

.distanceblock{
    padding-right: 10px;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.btn.btn-success:focus {
   -webkit-box-shadow: none;
   outline: none;
}
.btn.btn-danger{
   -webkit-box-shadow: none;
   outline: none;
}
.setbtn:focus{
    outline: none;
    -webkit-box-shadow: none;
}

.setbtn:hover{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 15px 0 rgba(0,0,0,0.2);
    background: linear-gradient(#7499CF,#7499CF);
    background-color: #7499CF !important; /* for IE */
    color: inherit;
    border-color:#5F7CA8;
}

.form-inline .form-control.custom-file-upload {
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}
.wrap-input-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.wrap-input-container input {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
z-index: 1;
top: 0;
left: 0;
cursor: pointer;
}

.tooltip {
  font-size: 14px;
}