/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2018, 1:03:07 PM
    Author     : kostas
*/

.welcomecontainer{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.insidewelcomecontainer{
    justify-content: center;
    padding-top: 15%;
}

.distanceblock{
    padding-right: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
}

.corners{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn{
    border-color: buttonhighlight;
}


.iconstyle{
    background: #eeeeee;
    padding:10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    
}

.inbetween{
    margin-right:1em
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.guestbutton {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #007bff;
  cursor: pointer;
}

.guestbutton:hover {
  color: #0056b3;
  text-decoration: underline;
}