<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/aboutscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>


</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
         
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item " >
                    <a class="nav-link " th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="insidebar">
            <h4 >Navigation</h4>
            <div class=" horline2"></div>
        </li>
        <li class="insidebar "  style="margin-top: 5%">
            <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
        </li>
    </ul>

    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <div class="row">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                
                <div class="row centered">
                    <div class="col-sm-11" style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h4>MetHoS</h4>
                        <div class="centered horline"></div><br/>
                        <div>MetHoS is a web-based platform for large-scale metabolomics. It is written in java that utilizes a set of software tools in order to achieve parallel processing, distributed storage and distributed statistical analysis of metabolomics data. It is built with Spring framework and utilizes the D3 Javascript library for visualizations.</div>
                        <br/>
                        <div class="centered">
                            <img src="../img/about.png" th:src="@{img/about.png}" width="800" height="425"/>
                        </div>
                        <br/>
                        <div><h5>Parallel processing</h5></div>
                        <div>Using pre-defined KNIME workflows, MetHoS is able to quantify and identify metabolite features. Apache Spark is responsible for the distribution of these processing jobs to the nodes of the computer cluster where they are parallelized. Every node in the cluster downloads an experiment from the Object storage, where it is previously uploaded, and processes it with the selected KNIME workflow. When the processing of an experiment is finished, KNIME automatically sends the results to Apache Cassandra and downloads the next one in line.</div>
                        <br/>
                        <div><h5>Distributed storage</h5></div>
                        <div>Apache Cassandra is responsible for the distributed storage of the results of a KNIME workflow across the cluster. The results originated from an experiment are saved in one Cassandra node and copied to two more, ensuring reliability and fault tolerance.</div>
                        <br/>
                        <div><h5>Distributed statistics</h5></div>
                        <div>Apache Spark Machine Learning Library is responsible for the implementations of several statistical tests in a distributed manner.</div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>

    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
</body>
</html>