<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/boxplotsviewexpsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectboxplotsviewexps.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar ">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/dataview/' + ${projectboxplotsviewexps.projectid}}"><i class="fas fa-binoculars distanceblock"></i>View</a>
                </li>
                <li class="insidebar ">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/boxplotsviewexps/' + ${projectboxplotsviewexps.projectid}}"><i class="fas fa-table distanceblock"></i>Box plots</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/dataview/' + ${projectboxplotsviewexps.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="ifongoingprocessing" th:id="ifongoingprocessing" th:value="${ifongoingprocessing}"/>
        <div th:if="${ifongoingprocessing}">
            <br/><br/><br/>
            <div th:utext="'There is an ongoing processing taking place right now and the cluster is busy.'+'<br/>'+'Please try again in a few minutes.'" class="alert alert-info text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div class="row" th:unless="${ifongoingprocessing}" >
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                
                <form class="form-horizontal" th:action="@{/boxplotsviewexps}" method="post" id="myform">
                    <div class="row justify-content-around">
                        <div class="col-sm-9">
                            <br/>
                        <div class="col-sm-12">
                            <div class="col-sm-12" id="msgcontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <input type="hidden" th:name="projectid" th:value="${projectboxplotsviewexps.projectid}"/>
                                <table class="display" id="protable" style="width: 100%">
                                    <thead>
                                        <tr >
                                            <th style="width: 8%;text-align: center"><input class="cellhover" id="selectall" type="checkbox" autocomplete="off"/></th>
                                            <th style="width: 45%">Experiment name</th>
                                            <th style="width: 13%;text-align: center">Workflow</th>
                                            <th style="width: 14%;text-align: center"><input class="cellhover" id="selectall1" type="checkbox" autocomplete="off"/> Group 1</th>
                                            <th style="width: 14%;text-align: center"><input class="cellhover" id="selectall2" type="checkbox" autocomplete="off"/> Group 2</th>
                                            <th style="width: 14%;text-align: center"><input class="cellhover" id="selectall3" type="checkbox" autocomplete="off"/> Group 3</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="proexp :${experimentlist}"  style="cursor:pointer">
                                            <td class="cellhover gr" style="width: 8%;" align="center"><input class="cellhover group" type="checkbox" th:name="experimentid" th:id="experimentid" th:value="${proexp.projectExperimentKey.experimentid}" autocomplete="off"/></td>
                                            <td class="extra" style="width: 45%" th:text="${proexp.expname}"></td>
                                            <td style="width: 13%" align="center" th:text="${proexp.workflow}"></td>
                                            <td class="cellhover gr1" style="width: 14%;" align="center"><input class="cellhover group1" type="checkbox" th:name="experimentidgroup1" th:id="experimentidgroup1" th:value="${proexp.projectExperimentKey.experimentid}" autocomplete="off"/></td>
                                            <td class="cellhover gr2" style="width: 14%;" align="center"><input class="cellhover group2" type="checkbox" th:name="experimentidgroup2" th:id="experimentidgroup2" th:value="${proexp.projectExperimentKey.experimentid}" autocomplete="off"/></td>
                                            <td class="cellhover gr3" style="width: 14%;" align="center"><input class="cellhover group3" type="checkbox" th:name="experimentidgroup3" th:id="experimentidgroup3" th:value="${proexp.projectExperimentKey.experimentid}" autocomplete="off"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-2" >
                            <br/>
                            <div class="row">
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%"><b>Boxplots on:</b></div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input colclick" th:id="eachval" th:name="eachorgroup" th:value="eachval"/>
                                        <label class="custom-control-label" for="eachval">each experiment</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input colclick" th:id="groupval2" th:name="eachorgroup" th:value="groupval2"/>
                                        <label class="custom-control-label" for="groupval2">2 groups</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input colclick" th:id="groupval3" th:name="eachorgroup" th:value="groupval3"/>
                                        <label class="custom-control-label" for="groupval3">3 groups</label>
                                    </div>
                                </div>
                            </div> 
                            <br/>
                            <div class="row">
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%"><b>Plot with:</b></div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="notra" th:name="transf" th:value="notra"/>
                                        <label class="custom-control-label" for="notra">no transformation</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="log2tra" th:name="transf" th:value="log2tra"/>
                                        <label class="custom-control-label" for="log2tra">log2</label>
                                    </div>
                                </div>
                            </div> 
                            <br/>
                            <div class="row">
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%"><b>Ionization mode:</b></div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input " th:id="ionboth" th:name="ionmode" th:value="both"/>
                                        <label class="custom-control-label" for="ionboth">both</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input " th:id="ionpositive" th:name="ionmode" th:value="positive"/>
                                        <label class="custom-control-label" for="ionpositive">positive</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input " th:id="ionnegative" th:name="ionmode" th:value="negative"/>
                                        <label class="custom-control-label" for="ionnegative">negative</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
                    
                <br/>
                <div class="col-sm-12">
                    <div class="row justify-content-center">
                        <div class="col-sm-3" style="display: flex; align-items: center;justify-content:center">
                            <button class="btn setbtn update" id="disbtn" style="background-color: #8FAFDB; color: #000;border-color:#5F7CA8;width: 40%;">Next</button>
                        </div>
                    </div>
                </div>
                <br/>
                
            </div>
        </div>
        
    </div>
    <div class="col-sm-12 centered" id="analysisspinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;display:none" >Please wait for the metabolites to be displayed...<img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
	
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/boxplotsviewexpsscope.js}"></script>

</body>
</html>