<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/boxplotsviewmtbsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectboxplotsviewmtbs.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/dataview/' + ${projectboxplotsviewmtbs.projectid}}"><i class="fas fa-binoculars distanceblock"></i>View</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/boxplotsviewexps/' + ${projectboxplotsviewmtbs.projectid}}"><i class="fas fa-table distanceblock"></i>Box plots</a>
                </li>
                
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/boxplotsviewexps/' + ${projectboxplotsviewmtbs.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="rowflag" th:id="rowflag" th:value="${rowflag}"/>
        
        <div th:if="${rowflag}">
                <br/><br/><br/>
                <div th:utext="'The selected ionization mode is not available with these experiments.'+'<br/>'+'Please select a different ionization mode.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div th:unless="${rowflag}">
        <div class="row" th:id="refreshdiv">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">                
                <div class="row justify-content-around">
                    <div class="col-sm-8">
                        <div class="col-sm-12">
                            <div th:id="container1"></div>
                        </div>
                        <br/>
                        <div class="col-sm-12">
                            <div class="row justify-content-center">
                                <div class="col-sm-3" style="display: flex; align-items: center;justify-content:center">
                               <button class="btn setbtn update" id="disbtn"  style="background-color: #8FAFDB; color: #000;border-color:#5F7CA8;width: 40%;">Analyze</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 centered" id="analysisspinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;display:none" >Please wait while your experiments are being analyzed...<img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                    </div>
                    
                    <div class="col-sm-4" >
                            <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius: 10px;padding:5px">
                               <input type="hidden" th:name="projectid" th:id="projectid" th:value="${projectboxplotsviewmtbs.projectid}"/>
                               <input type="hidden" th:name="eachorgroup" th:id="eachorgroup" th:value="${eachorgroup}"/>
                               <input type="hidden" th:name="transf" th:id="transf" th:value="${transf}"/>
                               <input type="hidden" th:name="ionmode" th:id="ionmode" th:value="${ionmode}"/>
                               <table class="display" id="protable" style="width: 100%">
                                   <thead>
                                       <tr >
                                           <th></th>
                                           <th style="width: 95%">Metabolite name</th>

                                       </tr>
                                   </thead>
                                   <tbody >
                                       <tr th:each="mtb :${allmetabolitelist}"  style="cursor:pointer">
                                           <td style="width: 5%;" align="center" >
                                               <input class="cellhover" type="radio" th:name="description" th:id="${mtb}" th:value="${mtb}"/>
                                           </td>
                                           <td style="width: 95%" class="extra" th:text="${mtb}"></td>
                                       </tr>
                                   </tbody>
                               </table>

                               <input type="hidden" th:name="onemetabolite" th:id="onemetabolite" th:value="${onemetabolite}"/>
                               
                               <table th:id="expintens">
                                   <thead><tr><th></th><th></th></tr></thead>
                                   <tbody>
                                      
                                   </tbody>
                               </table>
                           </div>
                        <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 5px;">
                            <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                        </div>
                        <br/>
                        <div th:if="${eachorgroup} eq 'eachval'">
                            <div class="col-sm-12" id="msgcontainer2" style="background: #FFFFFF;border-radius: 10px;padding:5px">
                                <table class="display" th:id="explist" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none;"></th>
                                            <th style="width: 7%;text-align: center">Index</th>
                                            <th style="width: 93%">Experiment name</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="exp,iter:${expidexpname}">
                                            <td style="display:none;" th:text="${exp.experimentid}"></td>
                                            <td style="width: 7%" align="center" th:text="${iter.count}"></td>
                                            <td style="width: 93%"  class="extra" th:text="${exp.expname}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:if="${eachorgroup} eq 'groupval2'">
                            <table th:id="explistgroup1" style="display: none">
                                <tbody>
                                        <tr th:each="expid1 :${experimentidsgroup1}">
                                            <td th:text="${expid1}" ></td>
                                            
                                        </tr>
                                    </tbody>
                            </table>
                            <table th:id="explistgroup2" style="display: none">
                                <tbody>
                                        <tr th:each="expid2 :${experimentidsgroup2}">
                                            <td  th:text="${expid2}"></td>
                                            
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                        <div th:if="${eachorgroup} eq 'groupval3'">
                            <table th:id="explistgroup1" style="display: none">
                                <tbody>
                                        <tr th:each="expid1 :${experimentidsgroup1}">
                                            <td th:text="${expid1}" ></td>
                                            
                                        </tr>
                                    </tbody>
                            </table>
                            <table th:id="explistgroup2" style="display: none">
                                <tbody>
                                        <tr th:each="expid2 :${experimentidsgroup2}">
                                            <td  th:text="${expid2}"></td>
                                            
                                        </tr>
                                    </tbody>
                            </table>
                            <table th:id="explistgroup3" style="display: none">
                                <tbody>
                                        <tr th:each="expid3 :${experimentidsgroup3}">
                                            <td  th:text="${expid3}"></td>
                                            
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                        <div th:if="${eachorgroup} eq 'eachval'">
                            <div  class="col-sm-12" id="loadercontainer2" style="background: #FFFFFF;border-radius:10px;padding: 5px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
        
    </div>
   

    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>

    <script th:src="@{/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/d3/d3.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/boxplotsviewmtbsscope.js}"></script>

</body>
</html>
