<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/clusteringresultsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectclusteringresults.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/analyzeview/' + ${projectclusteringresults.projectid}}"><i class="fas fa-cog distanceblock"></i>Analyze</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/clusteringview/' + ${projectclusteringresults.projectid}}"><i class="fas fa-project-diagram distanceblock"></i>Clustering</a>
                </li>
                
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/clusteringview/' + ${projectclusteringresults.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="rowflag" th:id="rowflag" th:value="${rowflag}"/>
        <div th:switch="${rowflag}">
                    <div th:case="0">
        <div class="row">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <input type="hidden" th:name="clusteringlevel" th:id="clusteringlevel" th:value="${clusteringlevel}"/>
                <div th:switch="${clusteringlevel}">
                    <div th:case="'onexps'" class="row justify-content-around">
                        <div class="col-sm-7" >
                            <div class="col-sm-12">
                                <b th:if="${clusteringmethod} eq 'kmeans'">K-means</b>
                                <b th:unless="${clusteringmethod} eq 'kmeans'">Bisecting K-means</b>
                                <b th:if="${allorsome} eq 'onall'"> on experiment level on all metabolites</b>
                                <b th:unless="${allorsome} eq 'onall'"> on experiment level on selected metabolites</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protable1" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th style="width: 80%">Experiment name</th>
                                            <th style="width: 20%;text-align: center">Cluster</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="expitem,l:${expsnameslist}">
                                            <td style="width: 80%" th:text="${expitem}"></td>
                                            <td style="width: 20%" th:text="'cluster'+${expsclusts[__${l.index}__]+1}" align="center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                            <br/>
                            <div class="col-sm-12" id="msgcontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protableclusters" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th style="width: 40%">Cluster</th>
                                            <th  style="width: 60%;text-align: center">Number of Objects</th>
                                        </tr>
                                    </thead>
                                    <tbody > 
                                        <tr th:each="clustin,l:${clustinfo}">
                                            <td style="width: 40%" th:text="'cluster'+${l.index+1}"></td>
                                            <td style="width: 60%" th:text="${clustin}" align="center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                            <br/>
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div th:text="'Silhouette score: '+${silhouette}"></div>
                                <small><i>(The silhouette ranges from −1 to +1, where a high value indicates that the object is well matched to its own cluster and poorly matched to neighboring clusters.)</i></small>
                            </div>
                            
                        </div>
                        <div class="col-sm-5" th:if="${allorsome} eq 'onselected' and ${missval} eq 'omit'"></div>
                        <div class="col-sm-5" th:unless="${allorsome} eq 'onselected' and ${missval} eq 'omit'">
                            <div class="col-sm-12" th:switch="${missval}">
                                <b th:case="'omit'">Metabolites whose missing values were omitted</b>
                                <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero</b>
                                <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean</b>
                                <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer3" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protablemiss" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th>Metabolite name</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="missmtb:${missvalmtbs}">
                                            <td th:text="${missmtb}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer3" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                        </div>
                        
                    </div>
                    <div th:case="'onrepls'" class="row justify-content-around">    
                        <div class="col-sm-7" >
                            <div class="col-sm-12">
                                <b th:if="${clusteringmethod} eq 'kmeans'">K-means</b>
                                <b th:unless="${clusteringmethod} eq 'kmeans'">Bisecting K-means</b>
                                <b th:if="${allorsome} eq 'onall'"> on replicate level on all metabolites</b>
                                <b th:unless="${allorsome} eq 'onall'"> on replicate level on selected metabolites</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protable3" style="width:100%" >
                                    <thead>
                                        <tr>
                                            <th style="width: 40%">Experiment name</th>
                                            <th style="width: 40%;text-align: center">Replicate name</th>
                                            <th style="width: 20%;text-align: center">Cluster</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="replinameslistitem,l:${replinameslist}">
                                            <td style="width: 40%" th:text="${expsnameslist[__${l.index}__]}"></td>
                                            <td style="width: 40%" th:text="${replinameslistitem}" align="center"></td>
                                            <td style="width: 20%" th:text="'cluster'+${repliclusts[__${l.index}__]+1}" align="center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                            <br/>
                            <div class="col-sm-12" id="msgcontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protableclusters" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th style="width: 40%">Cluster</th>
                                            <th style="width: 60%;text-align: center">Number of Objects</th>
                                        </tr>
                                    </thead>
                                    <tbody > 
                                        <tr th:each="clustin,l:${clustinfo}">
                                            <td style="width: 40%" th:text="'cluster'+${l.index+1}"></td>
                                            <td style="width: 60%" th:text="${clustin}" align="center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                            <br/>
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div th:text="'Silhouette score: '+${silhouette}"></div>
                                <small><i>(The silhouette ranges from −1 to +1, where a high value indicates that the object is well matched to its own cluster and poorly matched to neighboring clusters.)</i></small>
                            </div>
                            
                        </div>
                        <div class="col-sm-5" th:if="${allorsome} eq 'onselected' and ${missval} eq 'omit'"></div>
                        <div class="col-sm-5" th:unless="${allorsome} eq 'onselected' and ${missval} eq 'omit'">
                            <div class="col-sm-12" th:switch="${missval}">
                                <b th:case="'omit'">Metabolites whose missing values were omitted</b>
                                <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero</b>
                                <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean</b>
                                <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer3" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protablemiss" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th>Metabolite name</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="missmtb:${missvalmtbs}">
                                            <td th:text="${missmtb}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer3" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                        </div>
                    </div>
                    
                    <div th:case="'onmtbs'" class="row justify-content-around">
                        <div class="col-sm-7" style="margin: 0 auto;float:none">
                            <div class="col-sm-12" th:switch="${allorsome}">
                                <b th:if="${clusteringmethod} eq 'kmeans'">K-means</b>
                                <b th:unless="${clusteringmethod} eq 'kmeans'">Bisecting K-means</b>
                                <b th:if="${allorsome} eq 'onall'"> on metabolite level on all metabolites</b>
                                <b th:unless="${allorsome} eq 'onall'"> on metabolite level on selected metabolites</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protable5" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 80%">Metabolite name</th>
                                            <th style="width: 20%;text-align: center">Cluster</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="mtbslistitem,l:${mtbsnameslist}">
                                            <td style="width: 80%" th:text="${mtbslistitem}"></td>
                                            <td style="width: 20%" th:text="'cluster'+${mtbsclusts[__${l.index}__]+1}" align="center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                            <br/>
                            <div class="col-sm-12" id="msgcontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protableclusters" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th style="width: 40%">Cluster</th>
                                            <th style="width: 60%;text-align: center">Number of Objects</th>
                                        </tr>
                                    </thead>
                                    <tbody > 
                                        <tr th:each="clustin,l:${clustinfo}">
                                            <td style="width: 40%" th:text="'cluster'+${l.index+1}"></td>
                                            <td style="width: 60%" th:text="${clustin}" align="center"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                            <br/>
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div th:text="'Silhouette score: '+${silhouette}"></div>
                                <small><i>(The silhouette ranges from −1 to +1, where a high value indicates that the object is well matched to its own cluster and poorly matched to neighboring clusters.)</i></small>
                            </div>
                            
                        </div>
                        <div class="col-sm-5" th:if="${allorsome} eq 'onselected' and ${missval} eq 'omit'"></div>
                        <div class="col-sm-5" th:unless="${allorsome} eq 'onselected' and ${missval} eq 'omit'">
                            <div class="col-sm-12" th:switch="${missval}">
                                <b th:case="'omit'">Metabolites whose missing values were omitted</b>
                                <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero</b>
                                <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean</b>
                                <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer3" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protablemiss" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th>Metabolite name</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="missmtb:${missvalmtbs}">
                                            <td th:text="${missmtb}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer3" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-around" th:switch="${clusteringlevel}">
                        <div th:case="'onexps'" class="col-sm-12">
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                
                                <div class="row">
                                    <div class="col-sm-6" >
                                        <div class="row">
                                        <label class="col-sm-2" for="rescaling"><b>Re-scale:</b></label>
                                        <div class="col-sm-2" style="margin:0px;">
                                            <label class="switch">
                                                <input type="checkbox" th:id="rescaling"/>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="container3"></div>
                                <table th:id="expstable"  style="display: none">
                                    <tbody>
                                        <tr th:each="expcenter,l:${expsclustcenters}">
                                            <td th:text="'cluster'+${l.index+1}"></td>
                                            <td th:each="item:${expcenter}"  th:text="${item}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table th:id="mtbstable"  style="display: none">
                                    <tbody>
                                        <tr th:each="mtbname:${mtbsnameslist}">
                                            <td  th:text="${mtbname}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:case="'onrepls'" class="col-sm-12">
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="row">
                                    <div class="col-sm-6" >
                                        <div class="row">
                                        <label class="col-sm-2" for="rescaling"><b>Re-scale:</b></label>
                                        <div class="col-sm-2">
                                            <label class="switch">
                                                <input type="checkbox" th:id="rescaling"/>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="container3"></div>
                                <table th:id="replitable" style="display: none">
                                    <tbody>
                                        <tr th:each="replicenter,l:${repliclustcenters}">
                                            <td th:text="'cluster'+${l.index+1}"></td>
                                            <td th:each="item:${replicenter}" th:text="${item}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table th:id="mtbstable" style="display: none">
                                    <tbody>
                                        <tr th:each="mtbname:${mtbsnameslist}">
                                            <td  th:text="${mtbname}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:case="'onmtbs'" class="col-sm-12">
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="row">
                                    <div class="col-sm-6" >
                                        <div class="row">
                                        <label class="col-sm-2" for="rescaling"><b>Re-scale:</b></label>
                                        <div class="col-sm-2">
                                            <label class="switch">
                                                <input type="checkbox" th:id="rescaling"/>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="container3"></div>
                                <table th:id="mtbstable" style="display: none">
                                    <tbody >
                                        <tr th:each="mtbcenter,l:${mtbsclustcenters}">
                                            <td th:text="'cluster'+${l.index+1}"></td>
                                            <td th:each="item:${mtbcenter}" th:text="${item}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table th:id="expstable" style="display: none">
                                    <tbody >
                                        <tr th:each="expname:${expsnameslist}">
                                            <td  th:text="${expname}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        </div>
        <div th:case="1">
            <br/><br/><br/>
            <div th:utext="'Unable to perform Clustering. There is no common metabolite across the selected experiments.'+'<br/>'+'You can select a different number of experiments, a different ionization mode, a different analysis level or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div th:case="2">
            <br/><br/><br/>
            <div th:utext="'Unable to perform Clustering. There is no common metabolite across the replicates of the selected experiments.'+'<br/>'+'You can select a different number of experiments, a different ionization mode, a different analysis level or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div th:case="3">
            <br/><br/><br/>
            <div th:utext="'The selected settings result in the formation of only one cluster with all the selected experiments.'+'<br/>'+'You can select a different number of experiments, a different ionization mode, a different analysis level, a different normalization method or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <br/>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
    
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/d3/d3.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/clusteringresultsscope.js}"></script>

    
    
</body>
</html>

