<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/contactscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>


</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
         
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item " >
                    <a class="nav-link " th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="insidebar">
            <h4 >Navigation</h4>
            <div class=" horline2"></div>
        </li>
        <li class="insidebar "  style="margin-top: 5%">
            <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
        </li>
    </ul>

    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <div class="row">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                
                <div class="row centered">
                    <div class="col-sm-11" style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <b>Postal address:</b>
                        <p></p>
                        <table>
                            <tr>
                                <td>Dr. Stefan Albaum</td>
                            </tr>
                            <tr>
                                <td>Bioinformatics Resource Facility</td>
                            </tr>
                            <tr>
                                <td>Center for Biotechnology</td>
                            </tr>
                            <tr>
                                <td>Bielefeld University</td>
                            </tr>
                            <tr>
                                <td>D-33594 Bielefeld</td>
                            </tr>
                            <tr>
                                <td>Germany</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br/>
                <div class="row centered">
                    <div class="col-sm-11" style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <b>Personal Contact:</b>
                        <p></p>
                        <table>
                            <tr>
                                <td>Office:</td><td>&emsp;V6-141</td>
                            </tr>
                            <tr>
                                <td>Office Phone:</td><td>&emsp;+49-521-106-4821</td>
                            </tr>
                            <tr>
                                <td>Office Fax:</td><td>&emsp;+49-521-106-6419</td>
                            </tr>
                            <tr>
                                <td>E-mail:</td><td>&emsp;stefan.albaum@cebitec.uni-bielefeld.de</td>
                            </tr>
                            <tr>
                                <td>Homepage URL:</td><td>&emsp;<a href="http://www.cebitec.uni-bielefeld.de/polyomics/">http://www.cebitec.uni-bielefeld.de/polyomics/</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br/>
                <div class="row centered">
                    <div class="col-sm-11" style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <b>Useful links:</b>
                        <p></p>
                        <ul style="padding-left: 1%">
                            <li><a href="http://www.uni-bielefeld.de/Universitaet/Ueberblick/Anreise/">How to get to Bielefeld and its University</a></li>
                            <li><a href="http://www.uni-bielefeld.de/Universitaet/Ueberblick/Anreise/Anfahrtsweg.html">Find your way to Bielefeld University on a map</a></li>
                            <li><a href="http://www.uni-bielefeld.de/Universitaet/Ueberblick/Anreise/campus.html">Plan of the Campus</a></li>
                            <li><a href="http://www.uni-bielefeld.de/Universitaet/Ueberblick/Anreise/Hallenplan.html">Plan of the Main Hall</a></li>
                        </ul>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>

    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
</body>
</html>