<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/dataviewscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectdataview.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/dataview/' + ${projectdataview.projectid}}"><i class="fas fa-binoculars distanceblock"></i>View</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectdataview.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 " style="border-radius:10px;padding: 10px;border:4px solid #FFFFFF;">
                        <h5 class="centered">Raw data</h5>
                        <div class="centered horline" ></div>
                        <br/>
                        <div style="display:flex">
                            <a th:href="@{'/dataviewexps/' + ${projectdataview.projectid}}"><img th:src="@{/img/project_rawdata.png}" width="140" height="130" class="popout3"/></a>
                        <label style="display: inline-block;padding-left: 10px">View the raw data that resulted from the knime workflow. Select an experiment and see the identified and unidentified metabolites.</label>
                        </div>
                    </div>
                    <div class="col-sm-5 " style="border-radius:10px;padding: 10px;border:4px solid #FFFFFF;">
                        <h5 class="centered">Box plots</h5>
                        <div class="centered horline"></div>
                        <br/>
                        <div style="display:flex">
                            <a th:href="@{'/boxplotsviewexps/' + ${projectdataview.projectid}}"><img th:src="@{/img/project_boxplots.png}" width="140" height="130" class="popout3"/></a>
                        <label style="display: inline-block;padding-left: 10px">View the results of the knime workflow. Select experiments and metabolites to view their box plots.</label>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
    
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>

</body>
</html>

