<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/definitionsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>


</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item active" >
                    <a class="nav-link active" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="insidebar">
            <h4 >Navigation</h4>
            <div class=" horline2"></div>
        </li>
        <li class="insidebar "  style="margin-top: 5%">
            <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
        </li>
    </ul>

    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <div class="row" >
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is a project?</h5>
                        <div class="centered horline"></div><br/>
                        A project is a collection of tasks the user has to undertake in order to acquire results. 
                        It contains many biological experiments which must be processed firstly in order to be analyzed.
                        When creating a project, the user can select among three available databases: HMDB, MassBank and MoNA: Fiehn. 
                        The database will be used later for the identification of metabolite features. 
                    </div>
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is Upload?</h5>
                        <div class="centered horline"></div><br/>
                        The upload section is where the user has to upload his experiments by providing a name for his experiment and the replicates (.mzML, .mzData and .mzXML files).
                        The replicates/files need to be uploaded together under the same name of the experiment.
                    </div>
                </div>
                <br/>
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is an experiment?</h5>
                        <div class="centered horline"></div><br/>
                        An experiment in MetHoS refers to a biological experiment that consists of many  biological replicates (.mzML, .mzData and .mzXML files). 
                    </div>
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is Process?</h5>
                        <div class="centered horline"></div><br/>
                        In the process section the user is able to select from his project repository which experiments he wants to process with the integrated KNIME workflows in order to quantify and identify metabolite features. 
                        MetHoS currently provides five different workflows for MS1 spectra linked with all three available database and one for MS2 spectra linked with MassBank database.
                    </div>
                    
                </div>
                <br/>
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is View?</h5>
                        <div class="centered horline"></div><br/>
                        In this section the user has the ability to view the raw results which have been stored into Cassandra database by the KNIME workflows. 
                        He is able to view all the information of the identified and unidentified metabolites of an experiment as well as the Boxplots of selected experiments and metabolites.
                    </div>
                   
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is Analyze?</h5>
                        <div class="centered horline"></div><br/>
                        Analyze section provides the statistical tests to analyze the results from the different Knime workflows. 
                        Currently implemented tests are: Principal Component Analysis, two clustering methods, Pearson and Spearman tests as well as some basic statistics and ANOVA test between two groups of experiments.
                    </div>
                </div>
                <br/>
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is Edit?</h5>
                        <div class="centered horline"></div><br/>
                        In the edit section, the owner of the project can edit the project information, specifically the name and the description.
                    </div>
                    <div class="col-sm-5 " style="background: #FFFFFF;border-radius:10px;padding: 15px;">
                        <h5>What is Share?</h5>
                        <div class="centered horline"></div><br/>
                        The share section gives the opportunity to the owner of the project to allow access to any other desirable user.
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
          -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
    
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
</body>
</html>