<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/editscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
         
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectedit.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/editview/' + ${projectedit.projectid}}"><i class="fas fa-edit distanceblock"></i>Edit</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectedit.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <div class="row">
            <nav class="col-sm-12" style="padding-left: 3%">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="#nav-project" role="tab" aria-controls="nav-project" aria-selected="true" style="cursor: default">Project</a>
                </div>
            </nav>
        </div>
        
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane active" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
                <div class="row">
                    <div class="col-sm-12" style="background: #D1E2FC;border-radius: 10px;padding: 15px;">
                        <br/>
                        <form class="form-horizontal" th:Object="${proform}" th:action="@{/editview}" method="post" id="myform1">
                            <input type="hidden" th:field="*{projectid}"/>
                            <div class="form-group row" style="display: flex;justify-content: center;">
                                <label for="proname" class="col-sm-2 col-form-label" style="display: flex;justify-content: flex-end;">Name</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-11"><input size="7" type="text" class="form-control" th:id="proname" th:name="proname" th:value="${projectedit.proname}" required=""/></div>
                                </div>
                            </div>
                            <input type="hidden" class="form_datetime" th:field="*{prodateedited}"/>
                            <input type="hidden" th:field="*{prodatecreated}"/>
                            <input type="hidden" th:field="*{databasename}"/>
                            <div class="form-group row" style="display: flex;justify-content: center;">
                                <label for="procomments" class="col-sm-2 col-form-label" style="display: flex;justify-content: flex-end;">Description</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-11"><textarea class="form-control article-input"  rows="8" th:field="*{procomments}"></textarea></div>
                                </div>
                            </div>
                        </form><br/>
                        <div class="col-sm-12">
                            <div class="row justify-content-center">
                                <div class="col-sm-3" style="display: flex; align-items: center;justify-content:center">
                                    <button class="btn setbtn" form="myform1" style="background-color: #8FAFDB; color: #000;border-color:#5F7CA8;width: 40%;">Save</button>
                                </div>
                            </div>
                        </div><br/>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
        
    
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>

    
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/editscope.js}"></script>

</body>
</html>

