<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/groupexpsresultsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
         
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectgroupexpsresults.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/analyzeview/' + ${projectgroupexpsresults.projectid}}"><i class="fas fa-cog distanceblock"></i>Analyze</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/groupexpsview/' + ${projectgroupexpsresults.projectid}}"><i class="fas fa-table distanceblock"></i>Groups</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/analyzeview/' + ${projectgroupexpsresults.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="rowflag" th:id="rowflag" th:value="${rowflag}"/>
        <div th:switch="${rowflag}">
                    <div th:case="0">
        <div class="row">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <div class="row justify-content-around">
                    <div class="col-sm-7">
                        <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <label for="export">Export the following table for further analysis: </label><input th:name="export" th:id="export" type="button" th:value="Export" style="margin-left: 10px;"/>
                        </div>
                        <br/>
                        <div class="col-sm-12" th:switch="${meanormedian}">
                                <b th:case="meanval">ANOVA results using the mean</b>
                                <b th:case="medianval">ANOVA results using the median</b>
                            </div>
                        <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <table class="display" id="protable1" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 48%">Metabolite name</th>
                                        <th style="width: 14%;text-align: center">p-value</th>
                                        <th style="width: 14%;text-align: center">adj. p-value</th>
                                        <th style="width: 14%;text-align: center">f-value</th>
                                        <th style="width: 10%;text-align: center">log2FC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="mtb :${groupexps}" style="cursor:pointer">
                                        <td class="extra" style="width: 48%" th:text="${mtb.description}"></td>
                                        <td style="width: 14%;" align="center" th:text="${mtb.pvalue}"></td>
                                        <td style="width: 14%;" align="center" th:text="${mtb.adjpvalue}"></td>
                                        <td class="extra" style="width: 14%;" align="center" th:text="${mtb.fvalue}"></td>
                                        <td style="width: 10%;" align="center" th:text="${mtb.foldch}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="col-sm-12" th:switch="${missval}">
                            <b th:case="'omit'">Metabolites whose missing values were omitted</b>
                            <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero</b>
                        </div>
                        <div class="col-sm-12" id="msgcontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <table class="display" id="protable2" style="width:100%">
                                <thead>
                                    <tr >
                                        <th>Metabolite name</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr th:each="missmtb:${missvalmtbs}">
                                        <td th:text="${missmtb}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" id="loadercontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                        </div>
                        <br/>
                            <div class="col-sm-12 centered" style="border-radius:5px;padding: 10px;border:4px solid #FFFFFF;">
                                <b th:text="${degfr}"/>
                            </div>
                    </div>
                </div>                    
                <br/>
            </div>
        </div>
        </div>
            <div th:case="1">
                <br/><br/><br/>
                <div th:utext="'Unable to perform ANOVA test. You need more than one common metabolite across the selected experiments.'+'<br/>'+'You can select a different number of experiments, a different ionization mode or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
            </div></div>
    </div>
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
	
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/groupexpsresultsscope.js}"></script>

</body>
</html>