<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/groupexpsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
         
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectgroupexps.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/analyzeview/' + ${projectgroupexps.projectid}}"><i class="fas fa-cog distanceblock"></i>Analyze</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/groupexpsview/' + ${projectgroupexps.projectid}}"><i class="fas fa-table distanceblock"></i>Groups</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/analyzeview/' + ${projectgroupexps.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="ifongoingprocessing" th:id="ifongoingprocessing" th:value="${ifongoingprocessing}"/>
        <div th:if="${ifongoingprocessing}">
            <br/><br/><br/>
            <div th:utext="'There is an ongoing processing taking place right now and the cluster is busy.'+'<br/>'+'Please try again in a few minutes.'" class="alert alert-info text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div class="row" th:unless="${ifongoingprocessing}" >
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <form class="form-horizontal" th:action="@{/groupexpsview}" method="post" id="myform" enctype="multipart/form-data">
                    <div class="row justify-content-around">
                        <div class="col-sm-9">
                            <br/>
                            <div class="col-sm-12">
                                <div class="col-sm-12" id="msgcontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <input type="hidden" th:name="projectid" th:value="${projectgroupexps.projectid}"/>
                                    <table class="display" id="protable" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th style="width: 40%">Experiment name</th>
                                            <th style="width: 11%;text-align: center">Identified</th>
                                            <th style="width: 11%;text-align: center">Unidentified</th>
                                            <th style="width: 12%;text-align: center">Workflow</th>
                                            <th style="width: 13%;text-align: center"><input class="cellhover" id="selectall1" type="checkbox" autocomplete="off"/> Group 1</th>
                                            <th style="width: 13%;text-align: center"><input class="cellhover" id="selectall2" type="checkbox" autocomplete="off"/> Group 2</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="proexp :${experimentlist}">
                                            <td class="extra" style="width: 40%;pointer-events:none" th:text="${proexp.expname}"></td>
                                            <td style="width: 11%" align="center" th:text="${proexp.identified}"></td>
                                            <td style="width: 11%" align="center" th:text="${proexp.unidentified}"></td>
                                            <td style="width: 12%" align="center" th:text="${proexp.workflow}"></td>
                                            <td class="cellhover gr1" style="width: 13%;" align="center"><input class="cellhover group1" type="checkbox" th:name="experimentidgroup1" th:id="experimentidgroup1" th:value="${proexp.projectExperimentKey.experimentid}" autocomplete="off"/></td>
                                            <td class="cellhover gr2" style="width: 13%;" align="center"><input class="cellhover group2" type="checkbox" th:name="experimentidgroup2" th:id="experimentidgroup2" th:value="${proexp.projectExperimentKey.experimentid}" autocomplete="off"/></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="col-sm-12" id="loadercontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" >
                            <br/>
                            <div class="row">
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%"><b>Within experiment:</b></div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="meanval" th:name="meanormedian" th:value="meanval"/>
                                        <label class="custom-control-label" for="meanval">mean</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="medianval" th:name="meanormedian" th:value="medianval"/>
                                        <label class="custom-control-label" for="medianval">median</label>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%"><b>Missing values:</b></div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="omit" th:name="missval" th:value="omit"/>
                                        <label class="custom-control-label" for="omit">Omit</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="replacewithzero" th:name="missval" th:value="replacewithzero"/>
                                        <label class="custom-control-label" for="replacewithzero">Replace with zero</label>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            
                            <br/>
                            
                            <div class="row">
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%;white-space: pre-wrap;"><b>Normalization&#10;(z-score) on raw intensities of:</b></div>
                                    <div class="col-sm-12" style="padding-bottom: 3%">
                                        <label for="normalizationgroup" style="white-space: pre-wrap;">metabolites on&#10;group level </label>
                                        <label class="switch">
                                            <input type="checkbox" th:id="normalizationgroup" th:name="normalization"/>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12" style="padding-bottom: 3%">
                                        <label for="normalizationexp" style="white-space: pre-wrap;">metabolites on&#10;experiment level </label>
                                        <label class="switch">
                                            <input type="checkbox" th:id="normalizationexp" th:name="normalization"/>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <input type="hidden" th:id="normval" th:name="normval"/>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%"><b>Ionization mode:</b></div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="ionboth" th:name="ionmode" th:value="both"/>
                                        <label class="custom-control-label" for="ionboth">both</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="ionpositive" th:name="ionmode" th:value="positive"/>
                                        <label class="custom-control-label" for="ionpositive">positive</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input" th:id="ionnegative" th:name="ionmode" th:value="negative"/>
                                        <label class="custom-control-label" for="ionnegative">negative</label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
                    
                <br/>
                <div class="col-sm-12">
                    <div class="row justify-content-center">
                        <div class="col-sm-3" style="display: flex; align-items: center;justify-content:center">
                            <button class="btn setbtn update" id="disbtn" style="background-color: #8FAFDB; color: #000;border-color:#5F7CA8;width: 40%;">Analyze</button>
                        </div>
                    </div>
                </div>
                <br/>
               
            </div>
            
        </div>
        
    </div>
<div class="col-sm-12 centered" id="analysisspinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;display:none" >Please wait while your experiments are being analyzed...<img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>    
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
    
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/groupexpsscope.js}"></script>

</body>
</html>