<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/pcaresultsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectpcaresults.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/analyzeview/' + ${projectpcaresults.projectid}}"><i class="fas fa-cog distanceblock"></i>Analyze</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/pcaview/' + ${projectpcaresults.projectid}}"><i class="fas fa-project-diagram distanceblock"></i>PCA</a>
                </li>
                
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/pcaview/' + ${projectpcaresults.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="rowflag" th:id="rowflag" th:value="${rowflag}"/>
        <input type="hidden" th:name="specialcase" th:id="specialcase" th:value="${specialcase}"/>
        <div th:switch="${rowflag}">
                    <div th:case="0">
        <div class="row">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <input type="hidden" th:name="pcalevel" th:id="pcalevel" th:value="${pcalevel}"/>
                
                
                <div th:switch="${pcalevel}">
                    <div th:case="'onexps'" class="row justify-content-around">
                        <div class="col-sm-7" >
                            <div class="col-sm-12" th:switch="${allorsome}">
                                <b th:case="onall">PCA on experiment level on all metabolites</b>
                                <b th:case="onselected">PCA on experiment level on selected metabolites</b>
                            </div>
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="container1"></div>
                                <div class="row">
                                    <div class="col-sm-9" >
                                        <table>
                                            <tbody th:each="expsvaria : ${expsvariances}"> 
                                                <tr th:each="expsvar,l: ${expsvaria}">
                                                    <td th:text="'PC'+${l.count}+': '+${expsvar}+'% of variance'"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-3 centered" >
                                        <input type="button" id="Reset1" value="Reset"/>
                                    </div>
                                </div>
                                <table th:id="pcaofexps" style="display: none">
                                    <tbody th:each="expspcatab :${expspcatable}">
                                        <tr th:each="expspcat,l :${expspcatab}">
                                            <th  th:text="${expslist[__${l.index}__]}" th:id="sideexpnames" style="font-size: smaller"> </th>
                                            <td th:each="expspc :${expspcat}" th:text="${expspc}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-5" th:if="${allorsome} eq 'onselected' and ${missval} eq 'omit'">
                            <div class="col-sm-12">
                                <div class="col-sm-12 centered" style="border-radius:5px;padding: 10px;border:4px solid #FFFFFF;">
                                    <b th:text="${nrmtbsexps}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5" th:unless="${allorsome} eq 'onselected' and ${missval} eq 'omit'">
                            <div class="col-sm-12" th:switch="${missval}">
                                <b th:case="'omit'">Metabolites whose missing values were omitted</b>
                                <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero</b>
                                <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean</b>
                                <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protable" style="width:100%">
                                    <thead>
                                        <tr >
                                            <th>Metabolite name</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="missmtb:${missvalmtbs}">
                                            <td th:text="${missmtb}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                            </div>
                            <br/>
                            <div class="col-sm-12 centered" style="border-radius:5px;padding: 10px;border:4px solid #FFFFFF;">
                                <b th:text="${nrmtbsexps}"/>
                            </div>
                        </div>
                        
                    </div>
                    <div th:case="'onrepls'" class="row justify-content-around">    
                        <div class="col-sm-7" >
                            <div class="col-sm-12" th:switch="${allorsome}">
                                <b th:case="onall">PCA on replicate level on all metabolites</b>
                                <b th:case="onselected">PCA on replicate level on selected metabolites</b>
                            </div>
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="container2"></div>
                                <div class="row">
                                    <div class="col-sm-9" >
                                        <table>
                                            <tbody th:each="replivaria : ${replivariances}"> 
                                                <tr th:each="replivar,l: ${replivaria}">
                                                    <td th:text="'PC'+${l.count}+': '+${replivar}+'% of variance'"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-3 centered" >
                                        <input type="button" id="Reset2" value="Reset"/>
                                    </div>
                                </div>
                                <table th:id="pcaofexps" style="display: none">
                                    <tbody>
                                        <tr th:each="expsli :${expslist}">
                                            <th  th:text="${expsli}" th:id="sideexpnames"> </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <table th:id="pcaofrepls" style="display: none">
                                    <tbody th:each="replipcatab :${replipcatable}">
                                        <tr th:each="replipcat,l :${replipcatab}">
                                            <th th:text="${replilist[__${l.index}__]}" th:id="sidereplinames" style="font-size: smaller"> </th>
                                            <td th:each="replipc :${replipcat}" th:text="${replipc}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-5" th:if="${allorsome} eq 'onselected' and ${missval} eq 'omit'">
                            <div class="col-sm-12">
                                <div class="col-sm-12 centered" style="border-radius:5px;padding: 10px;border:4px solid #FFFFFF;">
                                    <b th:text="${nrmtbsexps}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5" th:unless="${allorsome} eq 'onselected' and ${missval} eq 'omit'">
                            <div class="col-sm-12" th:switch="${missval}">
                                <b th:case="'omit'">Metabolites whose missing values were omitted</b>
                                <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero</b>
                                <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean</b>
                                <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protable" style="width: 100%">
                                    <thead>
                                        <tr >
                                            <th>Metabolite name</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="missmtb:${missvalmtbs}">
                                            <td th:text="${missmtb}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                                </div>
                            <br/>
                            <div class="col-sm-12 centered" style="border-radius:5px;padding: 10px;border:4px solid #FFFFFF;">
                                <b th:text="${nrmtbsexps}"/>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div th:case="'onmtbs'" >
                        <div th:switch="${specialcase}">
                            <div th:case="1">
                                <div class="row">
                                    <div class="col-sm-12" >
                                        <div class="col-sm-12 centered" style="padding: 10px">
                                            <b>The list of the common metabolites was already smaller than 16.000, so all metabolites were included.</b>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                        <div class="col-sm-7" style="margin: 0 auto;float:none">
                            <div class="col-sm-12">
                                <b >PCA on metabolite level</b>
                            </div>
                            <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <div class="container3"></div>
                                <div class="row">
                                    <div class="col-sm-9" >
                                        <table>
                                            <tbody th:each="mtbsvaria : ${mtbsvariances}"> 
                                                <tr th:each="mtbsvar,l: ${mtbsvaria}">
                                                    <td th:text="'PC'+${l.count}+': '+${mtbsvar}+'% of variance'"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-3 centered" >
                                        <input type="button" id="Reset3" value="Reset" />
                                    </div>
                                </div>
                                <table th:id="pcaofmtbs" style="display: none">
                                    <tbody th:each="mtbspcatab :${mtbspcatable}">
                                        <tr th:each="mtbspcat,l :${mtbspcatab}">
                                            <th th:text="${mtbslist[__${l.index}__]}" th:id="sidemtbsnames" style="font-size: smaller"> </th>
                                            <td th:each="mtbspc :${mtbspcat}" th:text="${mtbspc}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="col-sm-5" >
                            
                            <div class="col-sm-12" th:switch="${missval}">
                                <b th:case="'omit'">Metabolites whose missing values were omitted</b>
                                <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero</b>
                                <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean</b>
                                <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median</b>
                            </div>
                            <div class="col-sm-12" id="msgcontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                <table class="display" id="protable" style="width: 100%">
                                    <thead>
                                        <tr >
                                            <th>Metabolite name</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr th:each="missmtb:${missvalmtbs}">
                                            <td th:text="${missmtb}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12" id="loadercontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                                </div>
                            <br/>
                            <div class="col-sm-12 centered" style="border-radius:5px;padding: 10px;border:4px solid #FFFFFF;">
                                <b th:text="${nrmtbsexps}"/>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div th:case="1">
                <br/><br/><br/>
                <div th:utext="'Unable to perform PCA. You need more than one common metabolite across the selected experiments.'+'<br/>'+'You can select a different number of experiments,a different ionization mode, a different analysis level or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
            </div>
            <div th:case="2">
                <br/><br/><br/>
                <div th:utext="'Unable to perform PCA. You need more than one common metabolite across the replicates of the selected experiments.'+'<br/>'+'You can select a different number of experiments, a different ionization mode, a different analysis level or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
            </div>
            </div>
            
            <br/>
        </div>
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>

    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/d3/d3.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/pcaresultsscope.js}"></script>

    
    
</body>
</html>

