<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/preprocessscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
       
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectpreprocess.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/preprocessview/' + ${projectpreprocess.projectid}}"><i class="fas fa-copy distanceblock"></i>Process</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectpreprocess.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="ifongoingprocessing" th:id="ifongoingprocessing" th:value="${ifongoingprocessing}"/>
        <input type="hidden" th:name="massbankdb" th:id="massbankdb" th:value="${massbankdb}"/>
        <input type="hidden" th:name="ifongoinganalysis" th:id="ifongoinganalysis" th:value="${ifongoinganalysis}"/>
        <div th:if="${ifongoingprocessing} and !${ifongoinganalysis}">
            <br/><br/><br/>
            <div th:utext="'There is an ongoing processing taking place right now and the cluster is busy.'+'<br/>'+'Please try again in a few minutes.'" class="alert alert-info text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div th:if="!${ifongoingprocessing} and ${ifongoinganalysis}">
            <br/><br/><br/>
            <div th:utext="'There is an ongoing analysis taking place right now and the cluster is busy.'+'<br/>'+'Please try again in a few minutes.'" class="alert alert-info text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div th:if="${ifongoingprocessing} and ${ifongoinganalysis}">
            <br/><br/><br/>
            <div th:utext="'There is an ongoing processing and analysis taking place right now and the cluster is busy.'+'<br/>'+'Please try again in a few minutes.'" class="alert alert-info text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
        </div>
        <div class="row" th:if="!${ifongoingprocessing} and !${ifongoinganalysis}" >
        <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <br/>
                <form class="form-horizontal" th:action="@{/preprocessview}" method="post" id="myform" enctype="multipart/form-data">
                    <div class="row justify-content-around"><!--justify-content-around-->
                        
                            <div class="col-sm-8">
                                <br/>
                                <div class="col-sm-12" id="msgcontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <input type="hidden" th:name="projectid" th:value="${proexplist[0].projectExperimentKey.projectid}"/>
                                    <table class="display" id="protable" style="width:100%">
                                        <thead>
                                            <tr class="cellhover">
                                                <th style="width: 5%;text-align: center"><input class="cellhover" id="selectall" type="checkbox" autocomplete="off"/></th>
                                                <th style="width: 45%;">Experiment name</th>
                                                <th style="width: 30%;">Replicates</th>
                                                <th style="width: 20%;;text-align: center">Uploaded on</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr th:each="proexp :${proexplist}" class="cellhover" style="height:45px">
                                                <td style="width: 5%;" align="center"><input class="cellhover" type="checkbox" th:name="experimentid" th:id="experimentid" th:value="${proexp.projectExperimentKey.experimentid}" autocomplete="off"/></td>
                                                <td class="extra" style="width: 45%;" th:text="${proexp.expname}"></td>
                                                <td style="width: 30%;">
                                                    <div th:each="filename :${proexp.replicatesnames}">
                                                        <div th:text="${filename}"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 20%;" th:text="${proexp.expdate}" align="center"></td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-12" id="loadercontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                                </div>
                            </div>
                        <div class="col-sm-3">
                            <br/>
                            <div class="row">
                                <div class="col-sm-12 seldiv" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12" style="padding-bottom: 3%"><b>Workflow:</b></div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input group" th:id="Lenient" th:name="workflow" th:value="Lenient"/>
                                        <label class="custom-control-label" for="Lenient">Lenient</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input group" th:id="SmallMass" th:name="workflow" th:value="SmallMass"/>
                                        <label class="custom-control-label" for="SmallMass">SmallMass</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input group" th:id="Default" th:name="workflow" th:value="Default"/>
                                        <label class="custom-control-label" for="Default">Default</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input group" th:id="MediumMass" th:name="workflow" th:value="MediumMass"/>
                                        <label class="custom-control-label" for="MediumMass">MediumMass</label>
                                    </div>
                                    <div class="custom-control custom-radio" style="padding-bottom: 3%">
                                        <input type="radio" class="custom-control-input group" th:id="Strict" th:name="workflow" th:value="Strict"/>
                                        <label class="custom-control-label" for="Strict">Strict</label>
                                    </div>
                                        <div th:if=${massbankdb} class="custom-control custom-radio" style="padding-bottom: 3%">
                                            <input type="radio" class="custom-control-input group" th:id="ms2_spectral_matching" th:name="workflow" th:value="'MS2 spectral matching'"/>
                                            <label class="custom-control-label" for="ms2_spectral_matching">MS2 spectral matching</label>
                                        </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
                <br/>
                <div class="col-sm-12">
                    <div class="row justify-content-center">
                        <div class="col-sm-3" style="display: flex; align-items: center;justify-content:center">
                            <button class="btn setbtn update" id="disbtn" onclick="return(expchecked())" style="background-color: #8FAFDB; color: #000;border-color:#5F7CA8;width: 40%;">Process</button>
                        </div>
                    </div>
                </div>
            <br/>
            </div>
        </div>        
    </div>
    
    <div class="col-sm-12 centered" id="analysisspinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;display:none">Please wait while your experiments are being processed...<img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
    <footer class="footer">
        <div class="container-fluid">
            <p style="font-size: 12px;">
              <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
               - 
              <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
               -
              <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
          </p>
        </div>
    </footer>
    
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/preprocessscope.js}"></script>

</body>
</html>

