<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/projectsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>
    

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="insidebar">
            <h4 >Navigation</h4>
            <div class=" horline2"></div>
        </li>
        <li class="insidebar "  style="margin-top: 5%">
            <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
        </li>
        
    </ul>

    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
    <div class="row">
        <div class="col-sm-3 " style="padding-left: 0px;">
                <div th:if="${#bools.isTrue(guestuser)}" class=" container" style="background: #CCDECB;border-radius:10px;padding: 20px;opacity: 0.5;">
                    <h4 class="centered">Create a project</h4>
                    <div class="centered horline"></div><br/>
                    <div class="centered" >
                        <img th:src="@{img/project_green_cross.png}" width="140" height="130" class="isDisabled"/>
                    </div>
                    <br/>
                </div>  
                <div th:unless="${#bools.isTrue(guestuser)}" class=" container" style="background: #CCDECB;border-radius:10px;padding: 20px;">
                    <h4 class="centered">Create a project</h4>
                    <div class="centered horline"></div><br/>
                    <div class="centered" >
                        <a th:href="@{/createprojectview}"><img th:src="@{img/project_green_cross.png}" width="140" height="130" class="popout1"/></a>
                    </div>
                    <br/>
                </div>   
                
        </div>

        <div class="col-sm-9" style="padding-right: 0px;">
            <div class="col-sm-12" style="background: #f5f5f5;border-radius:10px;height: 100%;position: inherit;">
                
                    <div class="row" th:if="${projects.empty}" style="display: flex;text-align: center">
                        <div class="col-sm-12">
                            <br/><br/><br/><br/><br/>
                            <h5 style="opacity: 0.5"><i>No projects yet...</i></h5>
                        </div>
                    </div>
                    <div class="row" th:unless="${projects.empty}" style="height: 100%">
                        <div class=" col-sm-4" style="border-radius:10px;padding:20px;"  th:each="project : ${projects}">
                            <a th:href="@{'/projecttasksview/' + ${project.projectid}}" style="text-decoration:none;color:black">
                                <div class="card popout3" style="border-radius:10px;border-color: #6C8EBF;border-width: 2px;cursor:pointer">
                                    <div class="card-header text-center" style="background-color: #D1E2FC;border-top-left-radius: 10px;border-top-right-radius: 10px">
                                        <h5 th:text="${project.proname}" ></h5>
                                    </div>
                                    <div class="card-body" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;cursor:pointer">
                                        <div class="card-text">
                                            <small><i class="fas fa-calendar-alt" style="padding-right: 10px;cursor:pointer"></i><label th:text="'Created on: '+${project.prodatecreated}" style="cursor:pointer"></label></small>
                                            <br/><br/>
                                            <label th:text="${project.procomments}" style="display:block;height:70px;overflow-y: auto;word-break: break-all;cursor:pointer"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
          -
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
          -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
</body>
</html>