<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/projecttasksscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>


</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${project.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{/projectsview}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 14%;">
        <div class="row justify-content-around" >
            <div class="col-sm-8" style="padding: 0;">
                <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <div class="row centered">
                    <div class="col-sm-11">
                        <div class="row centered"><h4 class="centered" th:text="${project.proname}"></h4></div>
                        <div class="centered horline" ></div>
                        <div class="row centered"><p class="centered text-muted" style="font-size: 14px;">
                                <i th:text="'(Created: ' + ${project.prodatecreated} + ',&nbsp;'"></i>
                                <i th:text="' Last edited:' + ${project.prodateedited} + ')'"></i>
                            </p></div>
                        
                    </div>
                </div>
                <div class="row centered" >
                    <div class="col-sm-11" ><b>Database</b></div>
                    <div class="col-sm-11" style="border-radius:0px;padding:0px;"><div class="col-sm-3" style="background: #FFFFFF;border-radius:10px;padding: 10px;" th:text="${project.databasename}"></div></div>
                </div>
                <br/>
                <div class="row centered" >
                    <div class="col-sm-11" ><b>Description</b></div>
                    <div class="col-sm-11" style="background: #FFFFFF;border-radius:10px;padding: 10px;max-height: 115px;overflow-y: scroll;" th:switch="${project.procomments}">
                        <div th:case="''"> <i>No description</i></div>
                        <div th:case="*" th:text="${project.procomments}"></div>
                    </div>
                </div>
                <br/>
                <div class="row centered" >
                    <div class="col-sm-11" ><b>Biological experiments</b></div>
                    <div class="col-sm-11" id="msgcontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                        <table class="display" id="protable" style="width: 100%" >
                            <thead >
                                <tr style="cursor: default">
                                    <th class="details-control" style="width:2%;padding:0px"></th>
                                    <th style="width: 58%;padding:0px">Experiment name</th>
                                    <th style="width: 20%;padding:0px;text-align: center">No replicates</th>
                                    <th style="width: 20%;padding:0px;text-align: center">Processed</th>
                                    
                                    <th style="display:none">Uploaded on:  </th>
                                    <th style="display:none">Replicates: </th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr th:each="proexp :${projectexps}" style="cursor: pointer;" >
                                   <td class="details-control" style="width: 2%" align="center"><img class="openpng" th:src="@{/img/details_open.png}" width="20" height="20"/><img width="20" height="20" class="closepng" th:src="@{/img/details_close.png}" style="display:none"/></td>
                                    <td class="extra" th:text="${proexp.expname}" style="width: 58%;"></td>
                                    <td th:text="${proexp.replicatesnum}" style="width: 20%;" align="center"></td>
                                    <td th:if="${proexp.preprocessed}" style="width: 20%;" th:text="Yes" align="center"></td>
                                    <td th:unless="${proexp.preprocessed} " style="width: 20%;" th:text="No" align="center"></td>
                                    
                                    <td th:text="${proexp.expdate}" style="display:none;"></td>
                                    <td th:text="${proexp.replicatesnames}" style="display:none;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-11" id="loadercontainer" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                        <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                    </div>
            </div>
                </div>
            </div>
            
            <div class="col-sm-3" style="padding:0px">
                <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">                
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 ">
                        <h5 class="centered">Upload</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered">
                            <div class="centered" th:if="${#bools.isTrue(guestuser)}">
                                <img th:src="@{/img/project_upload.png}" width="140" height="130" class="isDisabled"/>
                            </div>
                            <div class="centered" th:unless="${#bools.isTrue(guestuser)}">
                                <a th:href="@{'/uploadview/' + ${project.projectid}}"><img th:src="@{/img/project_upload.png}" width="140" height="130" class="popout3"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 " >
                        <h5 class="centered">Process</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered ">
                            <div th:if="${#bools.isTrue(guestuser)}">
                                <div class="centered">
                                    <img th:src="@{/img/project_preprocess.png}" width="140" height="130" class="isDisabled"/>
                                </div>
                            </div>
                            <div th:unless="${#bools.isTrue(guestuser)}">
                                <div class="centered" th:if="${#bools.isTrue(preprocessedwhenbothexistandnon)}">
                                    <img th:src="@{/img/project_preprocess.png}" width="140" height="130" class="isDisabled"/>
                                </div>
                                <div class="centered" th:unless="${#bools.isTrue(preprocessedwhenbothexistandnon)}">
                                    <a th:href="@{'/preprocessview/' + ${project.projectid}}"><img th:src="@{/img/project_preprocess.png}" width="140" height="130" class="popout3"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br/>
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 ">
                        <h5 class="centered">View</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered">
                            <div class="centered" th:if="${#bools.isTrue(preprocessedexist)}">
                                <a th:href="@{'/dataview/' + ${project.projectid}}"><img th:src="@{/img/project_dataview.png}" width="140" height="130" class="popout3"/></a>
                            </div>
                            <div class="centered" th:unless="${#bools.isTrue(preprocessedexist)}">
                                <img th:src="@{/img/project_dataview.png}" width="140" height="130" class="isDisabled"/><!--<a th:href="@{/resultsview}"><img th:src="@{/img/project_results.png}" width="140" height="130" class="popout3"/></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 ">
                        <h5 class="centered">Analyze</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered">
                            <div class="centered" th:if="${#bools.isTrue(preprocessedexist)}">
                                <a th:href="@{'/analyzeview/' + ${project.projectid}}"><img th:src="@{/img/project_analyze.png}" width="140" height="130" class="popout3"/></a>
                            </div>
                            <div class="centered" th:unless="${#bools.isTrue(preprocessedexist)}">
                                <img th:src="@{/img/project_analyze.png}" width="140" height="130" class="isDisabled"/>
                            </div>
                        </div>
                    </div> 
                    
                </div>
                
                </div>
                <br/>
                <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;" th:if="${#bools.isTrue(owner)}">
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 ">
                        <h5 class="centered">Edit</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered">
                            <div class="centered" >
                                <a th:href="@{'/editview/' + ${project.projectid}}"><img th:src="@{/img/project_edit.png}" width="140" height="130" class="popout3"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 ">
                        <h5 class="centered">Share</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered">
                            
                            <div class="centered">
                                <a th:href="@{'/shareview/' + ${project.projectid}}"><img th:src="@{/img/project_share.png}" width="140" height="130" class="popout3"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;" th:unless="${#bools.isTrue(owner)}">
                <div class="row centered justify-content-around">
                    <div class="col-sm-5 ">
                        <h5 class="centered">Edit</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered">
                            <div class="centered" >
                                <img th:src="@{/img/project_edit.png}" width="140" height="130" class="isDisabled"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 ">
                        <h5 class="centered">Share</h5>
                        <div class="centered horline"></div><br/>
                        <div class="centered">
                            
                            <div class="centered">
                                <img th:src="@{/img/project_share.png}" width="140" height="130" class="isDisabled"/>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
    
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/projecttasksscope.js}"></script>
</body>
</html>