<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

<link type="text/css" rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/registrationscreen.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/webfonts/fontawesome-all.css}"/>
    

</head>
<body onload="createCaptcha()" style='font-family: Helvetica Neue, sans-serif'>
    <div class="container-fluid">
        <div class="regcon">
            <div class="row insideregcon"><h1><a class="nostyle" th:href="@{/welcomeview}">MetHoS</a></h1></div>
            <div class="horline" ></div>
            <br/>
            
            <div class="row centered">
                <form onsubmit="validateCaptcha()" th:action="@{/registrationview}" method="post" th:object="${usrform}">
                    <fieldset>
                        <legend>Create an account</legend>
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" title="Allowed characters: a-z,A-Z,0-9,_,!" class="form-control" th:field="*{username}" placeholder="Username" pattern="[a-zA-Z0-9_!]+" required=""/>
                          <div th:if="${msg2}" th:text="${msg2}" class="alert  alert-danger text-center col-sm-12 centered" style="position: relative;border-radius: 0px;"/>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <div class="input-group">
                            <input type="password" title="Password must be from 8 to 25 characters: a-z,A-Z,0-9,_,!" class="form-control" th:field="*{password}" placeholder="Password" pattern="[a-zA-Z0-9_!]{8,25}" required=""/>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-eye" id="togglePassword"></i>
                                </span>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="email">E-mail address</label>
                          <input type="email" class="form-control" id="email"  placeholder="e-mail" th:field="*{email}" required=""/>
                          <div th:if="${msg3}" th:text="${msg3}" class="alert  alert-danger text-center col-sm-12 centered" style="position: relative;border-radius: 0px;"/>
                        </div>
                          <div class="form-group">
                            <label for="captcha">Captcha</label>
                            <div id="captcha" ></div>
                            <div class="restart"><a href="#" onclick="createCaptcha()">Change</a></div>
                            <input type="text" class="form-control" placeholder="Enter captcha" id="captchabox" required=""/>
                            <span id="errorcap" style="color:red"></span>
                          </div>
                        <br/>
                        <input type="hidden" th:name="resetpswcode"/>
                        <button type="submit" class="btn btn-light">Register</button>
                    </fieldset>
                  </form>
            </div>
        </div>
        <br/>
        <div th:if="${msg1}" th:text="${msg1}" th:class="${'alert ' + alertClass + ' text-center' + ' col-sm-12' + ' centered'}" style="position: relative;border-radius: 0px;"/>
    </div>
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 14px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a><!--<script>document.write(new Date().getFullYear())</script>-->
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>   
   
    
    <script th:src="@{/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}" type="text/javascript" ></script>
    <script type="text/javascript" th:src="@{/js/registrationscope.js}"></script>
    
    
    </body>
</html>