<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

<link type="text/css" rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/webfonts/fontawesome-all.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/resetpassformscreen.css}"/>


</head>
<body onload="createCaptcha()" style='font-family: Helvetica Neue, sans-serif'>
    
<div class="container-fluid">
        <div class="regcon">
            <div class="row insideregcon"><h1><a class="nostyle" th:href="@{/welcomeview}">MetHoS</a></h1></div>
            <div class="horline" ></div>
            <br/>
            
            <div class="row centered">
                <form onsubmit="validateform()" th:action="@{/resetpassformview}" method="post">
                    <fieldset>
                        <legend>Reset password</legend>
                        <div class="form-group">
                          <label for="password">New password</label>
                          <div class="input-group">
                            <input type="password" title="Password must be from 8 to 25 characters: a-z,A-Z,0-9,_,!" class="form-control" th:id="password" th:name="password" placeholder="New password" pattern="[a-zA-Z0-9_!]{8,25}" required=""/>
                            
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="confirmpassword">Confirm new password</label>
                          <div class="input-group">
                            <input type="password" title="Password must be from 8 to 25 characters: a-z,A-Z,0-9,_,!" class="form-control" th:id="confirmpassword" placeholder="Confirm new password" pattern="[a-zA-Z0-9_!]{8,25}" required=""/>
                          </div>
                          <div class="input-group">
                            <span id="message"></span>
                            
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="captcha">Captcha</label>
                            <div id="captcha" ></div>
                            <div class="restart"><a href="#" onclick="createCaptcha()">Change</a></div>
                            <input type="text" class="form-control" placeholder="Enter captcha" id="captchabox" required=""/>
                            <span id="errorcap" style="color:red"></span>
                          </div>
                        <br/>
                        <input type="hidden" name="resetpswcode" th:value="${resetpswcode}" />
                        <input type="hidden" name="username" th:value="${username}" />
                        <button class="btn btn-light" id="resetbutton">Change</button>
                    </fieldset>
                  </form>
            </div>
        </div>
        <br/>

        </div>
<div th:if="${msg}" th:text="${msg}" id='invalidtoken' th:class="${'alert ' + 'alert-danger' + ' text-center' + ' col-sm-8' + ' centered'}" style="margin-left: auto;margin-right: auto;width: 40%"/>    
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 14px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>   
   
    <script th:src="@{/googleapisjquery.min.js}"></script>        
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}" type="text/javascript" ></script>
    <script type="text/javascript" th:src="@{/js/resetpassformscope.js}"></script>
    
    </body>
</html>

