<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

<link type="text/css" rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/webfonts/fontawesome-all.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/resetpassscreen.css}"/>


</head>
<body style='font-family: Helvetica Neue, sans-serif'>
    
<div class="container-fluid">
        <div class="regcon">
            <div class="row insideregcon"><h1><a class="nostyle" th:href="@{/welcomeview}">MetHoS</a></h1></div>
            <div class="horline" ></div>
            <br/>
            
            <div class="row centered">
                <form th:action="@{/resetpassview}" method="post">
                    <fieldset>
                        <legend>Reset password</legend>
                        <div class="form-group">
                          <label for="email">E-mail address</label>
                          <input type="email" class="form-control" id="email" th:name="email" placeholder="e-mail" required=""/>
                          <div th:if="${msg1}" th:text="${msg1}" class="alert  alert-danger text-center col-sm-12 centered" style="position: relative;border-radius: 0px;"/>
                        </div>
                        <br/>
                        <button class="btn btn-light" >Change</button>
                    </fieldset>
                  </form>
            </div>
        </div>
        <br/>

        </div>
    
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 14px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>   
   
    <script th:src="@{/googleapisjquery.min.js}"></script>        
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}" type="text/javascript" ></script>
    
    
    </body>
</html>
