<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/datatables/css/jquery.dataTables.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/spearmanresultsscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
         
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectspearmanresults.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/analyzeview/' + ${projectspearmanresults.projectid}}"><i class="fas fa-cog distanceblock"></i>Analyze</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/spearmanview/' + ${projectspearmanresults.projectid}}"><i class="fas fa-project-diagram distanceblock"></i>Spearman</a>
                </li>
                
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar" >
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/spearmanview/' + ${projectspearmanresults.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <input type="hidden" th:name="rowflagexp" th:id="rowflagexp" th:value="${rowflagexp}"/>
        <input type="hidden" th:name="rowflagrepl" th:id="rowflagrepl" th:value="${rowflagrepl}"/>
        
        <div class="row">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <input type="hidden" th:name="allorsome" th:id="allorsome" th:value="${allorsome}"/>
                <div th:switch="${allorsome}">
                    <div th:case="'onallexprepl'">
                        <div th:switch="${rowflagexp}">
                        <div th:case="0">
                        <div class="row justify-content-around">
                            <div class="col-sm-7">
                                <div class="col-sm-12"><b>Correlation of experiments based on all metabolites</b></div>
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="graph1" style="text-align: center">
                                        <svg class="expsheatmap1" ></svg>
                                        <div class="tooltip1"></div>
                                    </div>
                                    <table th:id="expsonall" style="display: none">
                                        <tbody>
                                            <tr >
                                                <th></th>
                                                <th  th:each="exp :${explist}" th:text="${exp}" style="font-size: smaller"></th>
                                            </tr>
                                            <tr th:each="exppeartable,i :${expcorronalltable}">
                                                <th th:text="${explist[__${i.index}__]}" style="font-size: smaller"></th>
                                                <td th:each="exppeart :${exppeartable}" th:text="${exppeart}+'&emsp;'"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-5" >
                                <div class="col-sm-12" th:switch="${missval}">
                                    <b th:case="'omit'">Metabolites whose missing values were omitted in experiments</b>
                                    <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero in experiments</b>
                                    <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean in experiments</b>
                                    <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median in experiments</b>
                                </div>
                                <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <table class="display" id="protablemissexp" style="width:100%">
                                        <thead>
                                            <tr >
                                                <th>Metabolite name</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr th:each="missmtb:${missvalmtbsexp}">
                                                <td th:text="${missmtb}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        
                        </div>
                        <div th:case="1">
                            <br/><br/><br/>
                            <div th:utext="'Unable to perform Spearman Correlation on experiments. There is no common metabolite across the selected experiments.'+'<br/>'+'You can select a different number of experiments or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
                            <br/>
                        </div>    
                        </div>
                        
                        <div th:switch="${rowflagrepl}">
                        <div th:case="0">
                        <div class="row justify-content-around">
                            <div class="col-7">
                                <div class="col-sm-12"><b>Correlation of replicates based on all metabolites</b></div>
                                <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="graph2" style="text-align: center">
                                        <svg class="replsheatmap2" ></svg>
                                        <div class="tooltip2"></div>
                                    </div>
                                    <table th:id="replonall" style="display: none">
                                        <tbody>
                                            <tr >
                                                <th></th>
                                                <th  th:each="repli :${replilist}" th:text="${repli}" style="font-size: smaller"></th>
                                            </tr>
                                            <tr th:each="replpeartable,i :${replcorronalltable}">
                                                <th th:text="${replilist[__${i.index}__]}" style="font-size: smaller"></th>
                                                <td th:each="replpeart :${replpeartable}" th:text="${replpeart}+'&emsp;'"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-5" >
                                <div class="col-sm-12" th:switch="${missval}">
                                    <b th:case="'omit'">Metabolites whose missing values were omitted in replicates</b>
                                    <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero in replicates</b>
                                    <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean in replicates</b>
                                    <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median in replicates</b>
                                </div>
                                <div class="col-sm-12" id="msgcontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <table class="display" id="protablemissrepl" style="width:100%">
                                        <thead>
                                            <tr >
                                                <th>Metabolite name</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr th:each="missmtb:${missvalmtbsrepl}">
                                                <td th:text="${missmtb}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-12" id="loadercontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                                    <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                                </div>
                            </div>        
                        </div>
                        </div>
                        <div th:case="1">
                            <br/><br/><br/>
                            <div th:utext="'Unable to perform Spearman Correlation on replicates. There is no common metabolite across the replicates of the selected experiments.'+'<br/>'+'You can select a different number of experiments or a different method for dealing with the missing values.'" class="alert alert-danger text-center col-sm-12 centered" style="border-radius: 5px;padding: 15px;"></div>
                        </div>    
                        </div>
                </div>
                <div th:case="'onselectedexp'" class="row justify-content-around">
                    <div class="col-sm-7">
                        <div class="col-sm-12"><b>Correlation of experiments based on selected metabolites</b></div>
                        <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="graph3" style="text-align: center">
                                <svg class="expsheatmap3" ></svg>
                                <div class="tooltip3"></div>
                            </div>
                            <table th:id="expsonselected" style="display: none">
                                <tbody>
                                    <tr >
                                        <th></th>
                                        <th  th:each="exp :${explist}" th:text="${exp}" style="font-size: smaller"></th>
                                    </tr>
                                    <tr th:each="exppeartable,i :${expcorronselectedtable}">
                                        <th th:text="${explist[__${i.index}__]}" style="font-size: smaller"></th>
                                        <td th:each="exppeart :${exppeartable}" th:text="${exppeart}+'&emsp;'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-5" th:if="${missval} eq 'omit'"></div>
                    <div class="col-sm-5" th:unless="${missval} eq 'omit'">
                        <div class="col-sm-12" th:switch="${missval}">
                            <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero in experiments</b>
                            <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean in experiments</b>
                            <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median in experiments</b>
                        </div>
                        <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <table class="display" id="protablemissexp" style="width:100%">
                                <thead>
                                    <tr >
                                        <th>Metabolite name</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr th:each="missmtb:${missvalmtbsexp}">
                                        <td th:text="${missmtb}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                        </div>
                    </div>
                </div>
                <div th:case="'onselectedrepl'" class="row justify-content-around">
                    <div class="col-sm-7">
                        <div class="col-sm-12"><b>Correlation of replicates based on selected metabolites</b></div>
                        <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="graph4" style="text-align: center">
                                <svg class="replsheatmap4" ></svg>
                                <div class="tooltip4"></div>
                            </div>
                            <table th:id="replonselected" style="display: none">
                                <tbody>
                                    <tr >
                                        <th></th>
                                        <th  th:each="repli :${replilist}" th:text="${repli}" style="font-size: smaller"></th>
                                    </tr>
                                    <tr th:each="replpeartable,i :${replcorronselectedtable}">
                                        <th th:text="${replilist[__${i.index}__]}" style="font-size: smaller"></th>
                                        <td th:each="replpeart :${replpeartable}" th:text="${replpeart}+'&emsp;'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-5" th:if="${missval} eq 'omit'"></div>
                    <div class="col-sm-5" th:unless="${missval} eq 'omit'">
                        <div class="col-sm-12" th:switch="${missval}">
                            <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero in replicates</b>
                            <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean in replicates</b>
                            <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median in replicates</b>
                        </div>
                        <div class="col-sm-12" id="msgcontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <table class="display" id="protablemissrepl" style="width:100%">
                                <thead>
                                    <tr >
                                        <th>Metabolite name</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr th:each="missmtb:${missvalmtbsrepl}">
                                        <td th:text="${missmtb}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" id="loadercontainer2" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                        </div>
                    </div>
                </div>    
                <div th:case="'onselectedmtb'" class="row justify-content-around">
                    <div class="col-sm-7">
                        <div class="col-sm-12"><b>Correlation of selected metabolites in the selected experiments</b></div>
                        <div class="col-sm-12" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="graph5" style="text-align: center">
                                <svg class="metheatmap5"></svg>
                                <div class="tooltip5"></div>
                            </div>
                            <table th:id="metonselected" style="display: none">
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <th th:each="mtb :${mtblist}" th:text="${mtb}" style="font-size: smaller"></th>
                                    </tr>
                                    <tr th:each="metpeartable,i :${metcorronselectedtable}">
                                        <th th:text="${mtblist[__${i.index}__]}" style="font-size: smaller"></th>
                                        <td  th:each="metpeart :${metpeartable}" th:text="${metpeart}+'&emsp;'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-5" th:if="${missval} eq 'omit'"></div>
                    <div class="col-sm-5" th:unless="${missval} eq 'omit'">
                        <div class="col-sm-12" th:switch="${missval}">
                            <b th:case="'replacewithzero'">Metabolites whose missing values were replaced with zero in experiments</b>
                            <b th:case="'replacewithmean'">Metabolites whose missing values were replaced with mean in experiments</b>
                            <b th:case="'replacewithmedian'">Metabolites whose missing values were replaced with median in experiments</b>
                        </div>
                        <div class="col-sm-12" id="msgcontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <table class="display" id="protablemissexp" style="width:100%">
                                <thead>
                                    <tr >
                                        <th>Metabolite name</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr th:each="missmtb:${missvalmtbsexp}">
                                        <td th:text="${missmtb}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" id="loadercontainer1" style="background: #FFFFFF;border-radius:10px;padding: 10px;">
                            <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;" >Loading... <img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
                        </div>
                    </div>
                </div>
                
            </div>
            </div>
        </div> 
        
    </div>
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>

    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/d3/d3.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/datatables/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/spearmanresultsscope.js}"></script>
    
</body>
</html>

