<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


<link rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/uploadscreen.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webfonts/fontawesome-all.css}"/>

</head>
<body style='font-family: Helvetica Neue, sans-serif;overflow-y: scroll;'>
    <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="/projectsview" ><img th:src="@{/img/mlogo.png}" width="125" height="50"/></a>
        
       <div class="collapse navbar-collapse" >
            <ul class="navbar-nav" >
                
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/definitionsview}">Definitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contactview}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/aboutview}">About</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" >
                  <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt distanceblock"></i>Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidebar">
        <li class="ullidist1" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <h4 >Navigation</h4>
                    <div class=" horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor" th:href="@{/projectsview}"><i class="fas fa-home distanceblock"></i>Home</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectupload.projectid}}"><i class="fas fa-file-alt distanceblock"></i>Project</a>
                </li>
                <li class="insidebar imgdist">
                    <img th:src="@{/img/arrow.png}" width="15" height="28"/>
                </li>
                <li class="insidebar ">
                    <a class="spacecolor " th:href="@{'/uploadview/' + ${projectupload.projectid}}"><i class="fas fa-upload distanceblock"></i>Upload</a>
                </li>
            </ul>
        </li>
        <li class="ullidist2" >
            <ul class="sidebar2">
                <li class="insidebar">
                    <div class="centered horline2"></div>
                </li>
                <li class="insidebar" style="margin-top: 5%">
                    <a class="spacecolor " th:href="@{'/projecttasksview/' + ${projectupload.projectid}}"><i class="fas fa-arrow-left distanceblock"></i>Back</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div class="container" style="padding-top: 4%;padding-bottom: 1%;margin-right:2%;margin-left: 16%;">
        <div class="row centered justify-content-around" >
            <div class="col-sm-6" style="border-color:  #E50000;border-style: solid;border-radius:10px;padding: 10px; text-align: center">
                <label style="vertical-align: middle;margin: 0px">Please make sure that the files are not corrupted before uploading them and the total size of experiments being uploaded every time is less than 30Gb. Also make sure that the name of the replicates do not contain any of the special characters: .?/@!^*~,`()&%.+</label>
            </div>
            <div class="col-sm-5" style="border-color:  #17a2b8;border-style: solid;border-radius:10px;padding: 10px; text-align: center">
                <label style="vertical-align: middle;margin: 0px">Please make sure to give meaningful names to the experiments. Assign one of the following keywords to every experiment for a faster selection and better display during the analysis: controls, status1, status2, status3, status4, status5, status6, status7.</label>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12" style="background: #D1E2FC;border-radius:10px;padding: 15px;">
                <form th:action="@{/uploadview}" th:object="${proexplistform}" enctype="multipart/form-data" autocomplete="off" method="post" id="myform" >
                    <input type="hidden" th:name="projid" th:value="${projectupload.projectid}"/>
                    
                    <div class="form-group row custom-upload" style="display: flex;justify-content: center;">
                        <label class="col-sm-2 col-form-label" style="display: flex;justify-content: center;padding-top:10px;">Upload an experiment</label>
                        <div class="col-sm-9" ><!--10-->
                            <div data-role="dynamic-fields" id="allfields" class="allfields" >
                                
                                <div class="form-inline form-row" style="padding-top:10px;padding-bottom:10px">
                                    <input type="hidden" class="proid" th:id="projectexperimentlist0.projectExperimentKey.projectid" th:name="projectexperimentlist[0].projectExperimentKey.projectid" th:value = "${projectupload.projectid}"/>
                                    <input type="hidden" class="form_datetime" th:field="*{projectexperimentlist[0].expdate}"/>
                                    <input type="hidden" class="expid" th:field="*{projectexperimentlist[0].projectExperimentKey.experimentid}"/>
                                    
                                    <input data-placement="bottom" title="Only applicable characters: a-z,A-Z,0-9,_,-" type="text" class="form-control col-sm-4" th:field="*{projectexperimentlist[0].expname}" placeholder="Name of the experiment" required=""/>
                                    
                                    <!-- file upload start-->
                                    <div class="col-sm-6 wrap-input-container">
                                        <label class="custom-file-upload form-control ">
                                            Replicates <small><i>(.mzML, .mzXML, .mzData)</i></small>
                                        </label>
                                        <input type="file" class="file-upload" name="file"  multiple="" required="" accept=".mzML, .mzXML, .mzData, .mzml, .mzxml, .mzdata"/>
                                        <input class="replnum" th:field="*{projectexperimentlist[0].replicatesnum}" type="hidden"/>
                                        <input class="replnames" th:field="*{projectexperimentlist[0].replicatesnames}" type="hidden"/>
                                    </div>
                                    
                                    
                                    <div class="col-sm-2">
                                        <div class="row ">
                                        <div class="col-sm-4" style="display: flex;justify-content: center;padding: 0px" >
                                            <button class="btn btn-danger" data-role="remove">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-3" style="display: flex;justify-content: center;padding: 0px">
                                            <button class="btn btn-success" data-role="add">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5" style="display: flex;justify-content: flex-end;">
                        <small>Press <span class="fas fa-plus"></span> to add another experiment</small>
                    </div>
                   
                </form>
                <div class="col-sm-12 " >
                    <div class="row justify-content-center">
                        <div class="col-sm-3" style="display: flex; align-items: center;justify-content:center">
                            <button class="btn setbtn update " id="disbtn" form="myform" style="background-color: #8FAFDB; color: #000;border-color:#5F7CA8;width: 40%;">Upload</button>
                        </div>
                    </div>
                 </div>
                <br/>
            </div>
        </div>
    </div>
    <br/>
    <div class="col-sm-12 centered" id="spinner" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%;display:none">Please wait while your replicates are being uploaded...<img th:src="@{/img/spinner.gif}" width="60" height="60" /></div>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass + ' text-center' + ' col-sm-12' + ' centered'}" style="position: relative;border-radius: 0px;margin-left: 14%;width: 86%"/>
    
    
<footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 12px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>
        <script th:src="@{/googleapisjquery.min.js}"></script>        
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/uploadscope.js}" type="text/javascript"></script>
    
</body>
</html>

