<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MetHoS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link type="text/css" rel="stylesheet" th:href="@{/bootstrap_4_1_0/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/welcomescreen.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/webfonts/fontawesome-all.css}"/>
    

</head>
<body style='font-family: Helvetica Neue, sans-serif'>
    <div class="container-fluid">
        
        <div class="welcomecontainer">
            <div class="row insidewelcomecontainer">
                <img th:src="@{/img/methoslogo.png}"/>
            </div>
            <br/>
            <br/>
            <div class="row" style="justify-content: center;">
            <form class="form-inline"  th:action="@{/welcomeview}" method="post">
                <i class="fa fa-user iconstyle"></i>
                <input type="text" class="form-control corners" id="username" name="username" placeholder="Username"/>
                <div class="inbetween"></div>
                <i class="fa fa-lock iconstyle"></i>
                <input type="password" class="form-control corners" id="password" name="password" placeholder="Password"/>
                <div class="inbetween"></div>
                <button type="submit" class="btn btn-light">Log in</button>
            </form>
            </div>
            <br/>
            <div class="row" style="justify-content: center;">
                <div  style="justify-content: flex-start;font-size: 12px;width: 52.64%">
                    <a th:href="@{/resetpassview}">Forgot your password?</a>
                </div>
            </div>
        </div>
        
        <br/>
        <div th:if="${param.verificationerror}" th:class="${'alert ' + ' alert-danger' + ' text-center' + ' col-sm-8' + ' centered'}" style="margin-left: auto;margin-right: auto;width: 40%">
            Verification failed! Please try again the verification link or contact our support team.
        </div>
        <div th:if="${param.verificationsuccess}" th:class="${'alert ' + ' alert-success' + ' text-center' + ' col-sm-8' + ' centered'}" style="margin-left: auto;margin-right: auto;width: 40%">
            Congratulations! Your account is now verified.
        </div>
        
        <div th:if="${param.error}" th:class="${'alert ' + ' alert-danger' + ' text-center' + ' col-sm-8' + ' centered'}" style="margin-left: auto;margin-right: auto;width: 40%">
            Invalid username and/or password.
        </div>
        <div th:if="${param.logout}" th:class="${'alert ' + ' alert-info' + ' text-center' + ' col-sm-8' + ' centered'}" style="margin-left: auto;margin-right: auto;width: 40%">
            You have been logged out successfully.
        </div>
        <br/>
        <div class="alert alert-warning col-sm-12" style="margin-left: auto;margin-right: auto;width: 50%;font-size: 14px"><!--make it a second form-->
            Try out MetHoS by browsing and analyzing public data with the <form th:action="@{/welcomeview}" method="post" style="display:inline"><button type="submit" class="guestbutton"><input type="hidden" id="username" name="username" value="guest"/><input type="hidden" id="password" name="password" value="gu3st"/>guest account</button></form>.
        <div class="alert alert-success col-sm-12" style="margin-left: auto;margin-right: auto;width: 50%;font-size: 14px">
            Interested in MetHoS? Then simply <a th:href="@{/registrationview}">register for an account</a> or contact us at 
            <a href="mailto:methos-service@cebitec.uni-bielefeld.de?subject=MetHoS&body=Hi,%0D%0AI%20am%20interested%20in%20using%20MetHoS.%20Please%20send%20me%20further%20information.%0D%0ABest%20regards,%0D%0A%0D%0A">methos-service@cebitec.uni-bielefeld.de</a>.
            This service is supported by <a target="_blank" href="https://www.denbi.de">de.NBI</a>.
            Usage is free of charge.
        </div>
        <div class="alert alert-info col-sm-12" style="margin-left: auto;margin-right: auto;width: 50%;font-size: 14px">
            <i class="fas fa-file-alt distanceblock"></i>
                Have a look at our <a th:href="@{/walkthrough.pdf}" >Walkthrough</a> guide for a short introduction into MetHoS.
        </div>
        <div class="alert alert-secondary col-sm-12" style="margin-left: auto;margin-right: auto;width: 50%;font-size: 14px">
            We respect your privacy. Data uploaded to this web application is never shared unless you choose to share it. By using https any data transfer and interaction with this web page is encrypted. Cookies are required for login into MetHoS and are used to generate anonymous usage statistics that help us to improve our software.
            Further information regarding your privacy can be found in our <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung">privacy statement</a>.
        </div>
        
    </div>
    <footer class="footer">
    <div class="container-fluid">
        <p style="font-size: 14px;">
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de" class="text-muted"><small>(C) 2016-23</small></a>
           - 
          <a target="_blank" href="https://www.cebitec.uni-bielefeld.de/brf/index.php/?option=com_content&view=article&id=4" class="text-muted"><small>Impressum</small></a>
           -
          <a target="_blank" href="http://www.cebitec.uni-bielefeld.de/polyomics/index.php/40-main/datenschutzerklaerung/107-datenschutzerklaerung" class="text-muted"><small>Privacy statement</small></a>
      </p>
    </div>
</footer>   
   
    <script th:src="@{/googleapisjquery.min.js}"></script>        
    <script th:src="@{/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/popper.min.js}"></script>
    <script th:src="@{/bootstrap_4_1_0/js/bootstrap.min.js}" type="text/javascript" ></script>
    
    
    </body>
</html>